* {     /*RESUME*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../assets/img/pawel-czerwinski-Lki74Jj7H-U-unsplash.jpg);
}

.innerContainer{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 130vh;
    flex-direction: column;
    border-radius: 40px;
}

.middleinnerContainer {
    display: flex;
    background: #F2F2F2;
    width: 115vh;
    border-radius: 40px;
}

.leftContainer {
    display: flex;
    height: 80vh;
    width: 35%;
    flex-direction: column;
    align-items: center;
    background: #2C3E50;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imgSection {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

.image {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fullName, .occupation {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    margin-top: 10px;
}

.fullName h1 {
    font-size: 24px;
    font-weight: 700;
}

.occupation h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.socials {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.socials i {
    font-size: 24px;
    color: white;
    transition: transform 0.3s, color 0.3s;
}

.socials i:hover {
    transform: scale(1.1);
    color: #F2F2F2;
}

.socials .facebookDiv {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0866ff;
    border-radius: 50%;
    cursor: pointer;
}

.socials .instagram {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 50%;
    cursor: pointer;
}

.socials .twitter {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1DA1F2;
    border-radius: 50%;
    cursor: pointer;
}

.rightContainer {
    display: flex;
    height: 80vh;
    width: 5%;
    border-radius: 40px;
    flex-direction: column;
    margin-bottom: 15px;

}

.topRightContainer {
    display: flex;
    height: 40vh;
    width: 100%;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2C3E50;
}

.navBar a.active {
    color: white;
}

.navBar a:hover:not(.active) {
    color: rgba(118, 171, 190, 0.562);
}

.navBar ul{
    list-style-type: none;
}

.navBar ul li {
    margin-bottom: 100%;
}

.navBar a {
    color: rgb(118, 171, 190);
    text-decoration: none;
    display: block;
}

.navBar a:hover {
    color: rgba(255, 255, 255, 0.74);
}

.fa-house {             /* ICONS NEED TO HAVE KEBAB CASES TO WORK */
   margin-top: 20px;
   font-size: 25px;
   padding-left: 4px;
   border-radius: 160px;
}

.fa-graduation-cap {
    font-size: 25px;
    padding-left: 3px;
 }

.fa-user {
    font-size: 25px;
    padding-left: 7px;
 }

 .fa-envelope {
    font-size: 25px;
    padding-left: 6px;
 }

.bottomRightContainer {
    display: flex;
    margin-top: 30vh;
    height: 15vh;
    border-radius: 50px;
    background: #2C3E50;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backForward ul{
    list-style-type: none;
}

.backForward a {
    color: rgb(118, 171, 190);
    text-decoration: none;
}

.backForward a:hover {
    cursor: pointer;
    color: rgba(118, 171, 190, 0.603);
}

.rightInnerContainer {
    display: flex;
    width: 65%;
    /*background: red;*/
    border-radius: 40px;
    flex-direction: column;
}

.upperText{
    /*background: blue;*/
    color: #333333;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume {
    padding-top: 30px;
    font-size: 35px;
}

.skillContainer {
    width: 100%;
    background-color: #ddd;
    border-radius: 40px;
}

.skills{
    text-align: right;
    padding-right: 10px;
    border-radius: 40px;
    color: white;
}
.tagalog {
    width: 100%;
    background: rgb(44,62,80);
    background: linear-gradient(90deg, rgba(44,62,80,1) 0%, rgba(44,62,80,1) 100%);
}
.english {
    width: 90%;
    background: rgb(44,62,80);
    background: linear-gradient(90deg, rgba(44,62,80,1) 0%, rgba(44,62,80,0.8995973389355743) 100%);
}

.graphicDes,
.cpp,
.htmlcss {
    width: 50%;
    background: rgb(44,62,80);
    background: linear-gradient(90deg, rgba(44,62,80,1) 0%, rgba(44,62,80,0.5018382352941176) 100%);
}

.logoDes,
.webDes {
    width: 40%;
    background: rgb(44,62,80);
    background: linear-gradient(90deg, rgba(44,62,80,1) 0%, rgba(44,62,80,0.39539565826330536) 100%);
}

.education,
.experience,
.language,
.designSkills,
.codingSkills {
    font-size: 25px;
    color: #333333;
}
.education {
    padding-left: 50px;
}
.experience {
    padding-left: 186px;
}
.language {
    padding-top: 10px;
}

.middleTextContainer {
    width: 100%;
    height: 5%;
    /*background: pink;*/
    display: flex;  
}

.lowerTextContainer {
    display: flex;
    height:81%;
}

.leftTextContainer {
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    /*background: aliceblue;*/
    width: 49.5%;
    height: 100%;
    flex-direction: column;
    color: #333333;
}
.bachelor,
.shs,
.lang,
.designThings {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
}
.univ,
.school{
    font-weight: 300;
    font-size: 16px;
}

.univSY{
    padding-bottom: 0px;
}

.rightTextContainer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background: greenyellow;*/
    width: 49.5%;
    height: 100%;
    flex-direction: column;
}

.fillSpace {
    height: 37.2%;
    text-align: center;
}
.fillSpace p {
    font-size: 10px;
}

.fillSpace:hover {
    cursor: pointer;
    background-image: url(/pages/resume/assets/gif/crying-cat-sad-cat.gif);
    background-repeat: no-repeat;
}